.c-loader {
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#FFF;
    opacity: 0;
    transition: all 0.2s ease;
    width: 0;
    height: 0;

    &__spinner {
        width: 30px;
        height: 30px;
        border: 4px solid rgba(40, 224, 174, 0.5);
        border-left-color: #FF0090;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        to {
            transform: rotate(360deg);
        }
    }

    &.-is-loading {
        opacity: 1;
        width: 100%;
        height: 100%;
    } 
}