.c-header {
    width: 100%;
    display: flex;
    padding-top: 67px;
    padding-bottom: 36px;
    justify-content: center;
    align-items: center;
    font-family: "Product Sans Bold", "Roboto", sans-serif;

    & a {
        text-decoration: none;
        color: #000;
    }

    &__searched-for {
        width: 80%;
        text-align: center;
        font-size: 19px;
    }
    

    &__search {
        cursor: pointer;
    }
}